<div>
    <button matTooltip="{{'instruments.addInstrument' | translate}}" mat-fab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-form-field>
        <mat-label>{{'instruments.search' | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="{{'instruments.searchPlaceholder' | translate}}"
               #input>
    </mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="instrumentId" *ngIf=false>
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.instrumentId}} </td>
    </ng-container>

    <ng-container matColumnDef="catalogNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableCatalogNumber' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.catalogNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableBrand' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableModel' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="instrumentType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableType' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.instrumentType}} </td>
    </ng-container>

    <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef> {{'instruments.tableSerialNumber' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> {{'instruments.tableLocation' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableComment' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
    <ng-container matColumnDef="lastShowingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableLastShowingDate' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.lastShowingDate}} </td>
    </ng-container>
    <ng-container matColumnDef="rented">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableRented' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.rented | yesNo}} </td>
    </ng-container>
    <ng-container matColumnDef="waste">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableWaste' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.waste | yesNo}} </td>
    </ng-container>
    <ng-container matColumnDef="highValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'instruments.tableHighValue' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.highValue | yesNo}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'instruments.tableActions' | translate}} </th>
        <td mat-cell *matCellDef="let row">
            <button matTooltip="{{'instruments.rentTip' | translate}}" mat-icon-button (click)="rent(row)"
                    [disabled]="row.rented">
                <mat-icon>person_add</mat-icon>
            </button>
            <button matTooltip="{{'instruments.backToStorageTip' | translate}}" mat-icon-button
                    (click)="backToStorage(row.instrumentId)" [disabled]="!row.rented">
                <mat-icon>person_remove</mat-icon>
            </button>
            <button matTooltip="{{'instruments.editTip' | translate}}" mat-icon-button (click)="onEdit(row)">
                <mat-icon>create</mat-icon>
            </button>
            <button matTooltip="{{'instruments.showTip' | translate}}" mat-icon-button
                    (click)="showing(row.instrumentId)">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button matTooltip="{{'instruments.deleteTip' | translate}}" matTooltipClass="example-tooltip-red"
                    [disabled]="row.rented"
                    mat-icon-button color="warn" (click)="onDelete(row.instrumentId)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    Row shown when there is no matching data.
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="14">
            <section class="example-section">
                <mat-progress-bar
                        class="example-margin"
                        [color]='color'
                        [mode]='mode'
                        [value]='value'
                        [bufferValue]='bufferValue'>
                </mat-progress-bar>
            </section>
            <section  *ngIf="dataSource.data.length === 0">
                <p id="noData">{{'nodata.noData' | translate}}</p>
            </section>
        </td>
    </tr>
</table>

<mat-paginator #paginator
               [length]="dataSource?.data.length"
               [pageIndex]="0"
               [pageSize]="50"
               [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>

