table {
  width: 100%;
  margin-top: 15px;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-left: 15px;
}

.mat-raised-button {
  float: left;
  margin-bottom: 15px;
}

.example-tooltip-red {
  background: #b71c1c;
}

#noData {
  text-align: center;
  margin-top: revert;
}


