<div>
    <mat-form-field>
        <mat-label>{{'students.search' | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="{{'students.searchPlaceholder' | translate}}" #input>
    </mat-form-field>
</div>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="educationalId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'students.educationalID' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.educationalId}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'students.name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="birthName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'students.birthName' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.birthName}} </td>
        </ng-container>

        <ng-container matColumnDef="mothersName">
            <th mat-header-cell *matHeaderCellDef> {{'students.mothersName' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.mothersName}} </td>
        </ng-container>

        <ng-container matColumnDef="birthPlace">
            <th mat-header-cell *matHeaderCellDef> {{'students.birthPlace' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.birthPlace}} </td>
        </ng-container>
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'students.birthDate' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'students.gender' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{'students.actions' | translate}}</th>
            <td mat-cell *matCellDef="let row">
                <button matTooltip="{{'students.quit' | translate}}" matTooltipClass="example-tooltip-red"
                        mat-icon-button color="warn" (click)="quit(row)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        Row shown when there is no matching data.
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="12">
                <section class="example-section">
                    <mat-progress-bar
                            class="example-margin"
                            [color]='color'
                            [mode]='mode'
                            [value]='value'
                            [bufferValue]='bufferValue'>
                    </mat-progress-bar>
                </section>
                <section  *ngIf="dataSource.data.length === 0">
                    <p id="noData">{{'nodata.noData' | translate}}</p>
                </section>
            </td>
        </tr>

    </table>

    <mat-paginator #paginator
                   [length]="dataSource?.data.length"
                   [pageIndex]="0"
                   [pageSize]="50"
                   [pageSizeOptions]="[10, 50, 100, 250]">
    </mat-paginator>
</div>

